<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/table.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/form.css') }}" />
    <title>To do list</title>
  </head>
  <body>
    <ul class="metanav">
      <li class="nav nav-left"><a class="nav-link" href="/">Home</a></li>
      <li class="nav nav-left"><a class="nav-link" href="/todo/create">Add todo</a></li>
      <li class="nav nav-left"><a class="nav-link" href="/todo/clear">Clear todos</a></li>
    </ul>
    {% block body %}
    {% endblock %}
  </body>
</html>